[submodule "toolchain/ZAP2"]
	path = toolchain/ZAP2
	url = https://github.com/NEstelami/ZAP2.git
[submodule "include/z64ovl_archived"]
	path = include/z64ovl_archived
	url = https://github.com/z64me/z64ovl_archived
