[submodule "toolchain/ZAP2"]
	path = toolchain/ZAP2
	url = https://github.com/NEstelami/ZAP2.git
[submodule "include/z64ovl_archived"]
	path = include/z64ovl_archived
	url = https://github.com/z64me/z64ovl_archived
[submodule "toolchain/novl"]
	path = toolchain/novl
	url = https://github.com/z64me/novl
[submodule "include/z64hdr"]
	path = include/z64hdr
	url = https://github.com/turpaan64/z64hdr
